<div class="mt-5 weegie-question">

    <h3 class="text-center mt-4"> Title:</h3>
    <h4 class="text-center">{{data.title}}</h4>

    <h3 class="text-center">Status:</h3>
    <h4 class="text-center">{{data.status}}</h4>

    <h3 class="text-center">Order:</h3>
    <h4 class="text-center">{{data.sort_order}}</h4>

    <h3 class="text-center">Image:</h3>
    <img src={{data.image}} alt="image" />

    <h3 class="text-center mt-4">short description:</h3>
    <h4 class="text-center">{{data.short_content}}</h4>

    <h3 class="text-center mt-4">Full Content:</h3>
    <h4 class="text-center">{{data.full_content}}</h4>

    <a href='/admin/articles/delete/{{data.article_id}}'>
        <button class="btn btn-sm eye delete-article">Delete<i class="far fa-trash-alt"></i></button>
    </a>

 </div>