<div class="admin-legodi">
    <table class="table bg-primary table-bordered  mt-4 pd-4">
        <tbody class="table bg-info text-white">
            <tr>
                <th>Title:</th>
                <td class="text-center align-middle">{{data.title}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td class="text-center align-middle">{{data.status}}</td>
            </tr>
            <tr>
                <th>Order:</th>
                <td class="text-center align-middle">{{data.sort_order}}</td>
            </tr>
            <tr>
                <th>Image:</th>
                <td class="text-center align-middle">{{data.image}}</td>
            </tr>
            <tr>
                <th>Language Id:</th>
                <td class="text-center align-middle">{{data.language_id}}</td>
            </tr>
            <tr>
                <th>Short Description</th>
                <td class="text-center align-middle">{{data.short_content}}</td>
            </tr>
            <tr>
                <th>Full description</th>
                <td class="text-center align-middle">{{data.full_conten}}</td>
            </tr>
        </tbody>
    </table>
    <a href='/admin/articles/delete/{{data.category_id}}'>
        <button class="btn btn-sm eye delete-category">Delete<i class="far fa-trash-alt"></i></button>
    </a>
</div>