<div class="admin-legodi">
    <table class="table bg-primary table-bordered  mt-4 pd-4">
        <tbody class="table bg-info text-white">
            <tr>
                <th>Title:</th>
                <td class="text-center align-middle">{{data.category_name}}</td>
            </tr>
            <tr>
                <th>Category ID:</th>
                <td class="text-center align-middle">{{data.category_id}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td class="text-center align-middle">{{data.status}}</td>
            </tr>
            <tr>
                <th>Order:</th>
                <td class="text-center align-middle">{{data.order}}</td>
            </tr>
            <tr>
                <th>Icon:</th>
                <td class="text-center align-middle">{{data.icon}}</td>
            </tr>
            <tr>
                <th>Language Id:</th>
                <td class="text-center align-middle">{{data.language_id}}</td>
            </tr>
            <tr>
                <th>City Id</th>
                <td class="text-center align-middle">{{data.city_id}}</td>
            </tr>
            <tr>
                <th>Short Description</th>
                <td class="text-center align-middle">{{data.short_description}}</td>
            </tr>
            <tr>
                <th>Full description</th>
                <td class="text-center align-middle">{{data.description}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td class="text-center align-middle">{{data.status}}</td>
            </tr>
        </tbody>
    </table>
    <a href='/admin/categories/delete/{{data.category_id}}'>
        <button class="btn btn-sm eye delete-category">Delete<i class="far fa-trash-alt"></i></button>
    </a>

</div>
