<div class="mt-5 weegie-question">
 
    <h3 class="text-center">User ID:</h3>
    <h4 class="text-center">{{data.category_id}}</h4>

    <h3 class="text-center mt-4"> Title:</h3>
    <h4 class="text-center">{{data.category_name}}</h4>

    <h3 class="text-center mt-4">short description:</h3>
    <h4 class="text-center">{{data.short_description}}</h4>

    <h3 class="text-center mt-4">Order</h3>
    <h4 class="text-center">{{data.order}}</h4>

     <h3 class="text-center mt-4">Language Id:</h3>
     <h4 class="text-center">{{data.language_id}}</h4>

 </div>