<div class="admin-legodi">
    <table class="table bg-primary table-bordered  mt-4 pd-4">
        <thead class="table ">
            <tr class="text-center align-middle">
                <th>Name</th>
                <th>Short Description</th>
                <th>Status</th>
                <th>More Info</th>
                <th>Edit</th>
             </tr>
        </thead>
        <tbody class="table bg-info text-white">
            {{#each data}}
            <tr>
                <td class="text-center align-middle">{{this.category_name}}</td>
                <td>{{this.short_description}}</td>
                <th scope="row" class="text-center align-middle">{{this.status}}</th>
                <td class="text-center align-middle">
                    <a href='categories/view/{{this.category_id}}'>
                       <button class="btn btn-sm eye"><i class="far fa-eye" ></i></button>                         
                    </a>
                </td>
                    <td class="text-center align-middle">
                    <a href='categories/edit/{{this.category_id}}'>
                       <button class="btn btn-sm eye"><i class="far fa-edit"></i></button>                         
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>