<div class="admin-legodi">
    <div class="add-new-category">
        <h3>Add new Question:</h3>
        <a href="/admin/weegie/questions/add">
            <button class="btn btn-primary">Add new</button>
        </a>
    </div>
    <table class="table bg-primary table-bordered  mt-4 pd-4">
        <thead class="table ">
            <tr class="text-center align-middle">
                <th>Question</th>
                <th>Visible</th>
                <th>Answer</th>
                <th>More Info</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody class="table bg-info text-white">
            {{#each data}}
            <tr>
                <th scope="row" class="text-center align-middle">{{this.title}}</th>
                <td class="text-center align-middle">{{this.visible}}</td>
                <td class="text-center align-middle">{{this.answer}}</td>
                <td class="text-center align-middle">
                    <a href='/admin/weegie/questions/view/{{this.question_id}}'>
                        <button class="btn btn-sm eye"><i class="far fa-eye"></i></button>
                    </a>
                </td>
                <td class="text-center align-middle">
                    <a href='/admin/weegie/questions/edit/{{this.question_id}}'>
                        <button class="btn btn-sm eye"><i class="far fa-edit"></i></button>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>