<div class="container">
  <div class="weegie-add-edit">
    <div class="login-message">
    {{#if errors}} {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}} {{/if}}
  </div>
  {{#if data}}
  <h3 class="text-success">Edit Weegie Question</h3>
  <form method="post">
    <div class="form-group has-success">
      <label class="text-primary">
        Question:
      </label>
      <input value={{this.data.title}} name="title" class="form-control form-control-success mb-4" />
    </div>
    <div class="form-group has-success">
      <label class="text-primary">
        Choice a:
      </label>
      <input value={{this.data.a}} name="a" class="form-control form-control-success mb-4" />
    </div>

    <div class="form-group has-success">
      <label class="text-primary">
        Choice b:
      </label>
      <input value={{this.data.b}} name="b" class="form-control form-control-success mb-4" />
    </div>

    <div class="form-group has-success">
      <label class="text-primary">
        Choice c:
      </label>
      <input value={{this.data.c}} name="c" class="form-control form-control-success mb-4" />
    </div>

    <div class="form-group has-success">
      <label class="text-primary"> Choice d:
      </label>
      <input value={{this.data.d}} name="d" class="form-control form-control-success mb-4" />
    </div>
    <div class="form-group has-success">
      <select class="form-control" name="answer">
        <option value="" class="text-primary">Select the correct choice letter: a,b,c,d:</option>
          <option selected value={{this.data.answer}}>{{this.data.answer}}</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
        <option value="d">D</option>
      </select>
    </div>



    <button class="btn btn-lg btn-danger" type="submit">Submit</button>

  </form>
  {{else}}
  <h3 class="text-success">Add a New Weegie Question</h3>
  <form method="post">
    <div class="form-group has-success">
      <label class="text-primary">
        Question:
      </label>
      <input name="title" class="form-control form-control-success mb-4" />
    </div>
    <div class="form-group has-success">
      <label class="text-primary">
        Choice a:
      </label>
      <input name="a" class="form-control form-control-success mb-4" />
    </div>

    <div class="form-group has-success">
      <label class="text-primary">
        Choice b:
      </label>
      <input name="b" class="form-control form-control-success mb-4" />
    </div>

    <div class="form-group has-success">
      <label class="text-primary">
        Choice c:
      </label>
      <input name="c" class="form-control form-control-success mb-4" />
    </div>

    <div class="form-group has-success">
      <label class="text-primary"> Choice d:
      </label>
      <input name="d" class="form-control form-control-success mb-4" />
    </div>
    <div class="form-group has-success">
      <select class="form-control" name="answer">
        <option value="" class="text-primary">Select the correct choice letter: a,b,c,d:</option>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
        <option value="d">D</option>
      </select>
    </div>
    <button class="btn btn-lg btn-danger" type="submit">Add New Question</button>
  </form>
  {{/if}}
  </div>
</div>